*{
	margin: 0 auto;
	padding: 0px;
}
body
{
	background-color: #ECECFF;
}
#top
{
	background-position: left top;
	background-color: #004F75;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color: #FF7920;
	background-image: url('images/bg.png');
	background-repeat: repeat-x;
	background-attachment: fixed;
}
#header
{
	width: 960px;
	height: 50px;
	margin: auto;
	padding-top:10px;
}
#content
{
	width: 960px;
	position:relative;
}
#left-sidebar
{
	position: relative;
	float: left;
	width: 240px;
	height:100%;
	display:block;
	margin-top:5px;
	padding-top:10px;
}
#main-content
{
	position: relative;
	float: left;
	width:650px;
	height:100%;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #bbbbbb;

	min-height:100%;
	display:block;
	margin-top:5px;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
}
#right-sidebar
{
	position: relative;
	float: left;
	width:180px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #bbbbbb;
	height:100%;
	min-height:1000px;
	display:block;
	margin-top:5px;
	padding-top:10px;
}

#footer
{
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #bbbbbb;
	height: 50px;
	display: inline-block;
	width: 100%;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #808080;
	padding-top:10px;
}


.green
{
	color: #93b876;
}
.blue
{
	color: rgb(20, 125, 182);
}
.orange
{
	color:rgb(255, 153, 51);
}