#left_column
{
	position: relative;
	float: left;
	width: 600px;
	display:block;
	margin-top:5px;
	padding-top:10px;
}
#login-content
{
	position: relative;
	float: left;
	width:335px;
	display:block;
	margin-top:5px;
	padding-top:10px;
	padding-left:10px;

}

img.login_pic
{
	background-position: center center;
	display: inline-block;
	width:580px;
	height:355px;
	padding:5px;
	margin-right: 5px;
	margin-top:5px;
	background-repeat: no-repeat;
	border: 1px solid #CCCCCC;
	border-radius:3px;
	background-color: #F4F4F4;
}
